<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bank Details</title>
<style>
table {
    border-collapse: collapse;
    width: 30%
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<h2 align="center">HFDC BANK</h2>
<table align="center" border="1">
 <tr>
    <th>Bank Services</th> 
  </tr>
   <tr>
    <td>Savings Account</td> 
  </tr>
  <tr>
    <td>Personal Loan</td> 
  </tr>
  <tr>
    <td>Credit Card</td> 
  </tr>
  <tr>
    <td>Loans</td> 
  </tr>
</table>
</body>
</html>