<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Bank Details</title>
<style>
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<h2 align="center">HFDC BANK</h2>
<table align="center" border="1">
 <tr>
    <th>Branch Code</th>
    <th>Branch Name</th> 
  </tr>
   <tr>
    <td>000009</td> 
    <td>BANGALORE - KASTURBA GANDHI MARG</td>
  </tr>
  <tr>
    <td>000041</td> 
    <td>BANGALORE - MALLESWARAM</td>
  </tr>
  <tr>
    <td>000053</td> 
    <td>BANGALORE - KORAMANGALA</td>
  </tr>
  <tr>
    <td>000075</td> 
    <td>BANGALORE - AIRPORT ROAD</td>
  </tr>
  <tr>
    <td>000077</td> 
    <td>BANGALORE - IT PARK</td>
  </tr>
  <tr>
    <td>000140</td> 
    <td>BANGALORE - R T NAGAR</td>
  </tr>
  <tr>
    <td>000133</td> 
    <td>BANGALORE - J P NAGAR</td>
  </tr>
</table>
</body>
</html>